name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew build publish
      env:
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.signingKey }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.signingPassword }}
        ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.sonatypeUsername }}
        ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.sonatypePassword }}
